:host {
    display: block;
}

.contact-section {
    padding: 5rem 1rem;
    background-color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;

    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .section-title {
        text-align: center;
        font-size: 2.5rem;
        color: #F26849;
        margin-bottom: 3rem;
        font-weight: 700;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 100px;
            height: 4px;
            background: #D9D162;
            margin: 0.5rem auto 0;
            border-radius: 2px;
        }
    }

    .contact-grid {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-info {
        h3 {
            font-size: 1.8rem;
            color: #333;
            margin-bottom: 1rem;
        }

        .description {
            color: #666;
            margin-bottom: 2.5rem;
            line-height: 1.6;
            font-weight: 550;
        }

        .info-item {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            .icon {
                font-size: 1.5rem;
                background: #fff;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
                margin-right: 1.5rem;
                overflow: hidden;

                img {
                    width: 60%;
                    height: 60%;
                    object-fit: contain;
                    filter: drop-shadow(0 50px 0 #F26849);
                    transform: translateY(-50px);
                }
            }

            .details {
                .label {
                    display: block;
                    font-size: 0.9rem;
                    color: #888;
                    margin-bottom: 0.2rem;
                }

                .value {
                    font-size: 1.1rem;
                    color: #333;
                    font-weight: 600;
                    text-decoration: none;
                    transition: color 0.3s ease;

                    // Hover effect for links
                    &[href]:hover {
                        color: #F26849;
                    }
                }
            }
        }
    }


}