:host {
    display: block;
}

.nosotros-container {
    padding: 6rem 5%;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    min-height: 50vh;
    display: flex;
    align-items: center;
    background-color: #D9D162;
    position: relative;
    overflow: hidden;


    .wave-top {
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 2;

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 25px;

            path {
                fill: #FFF8E7;
            }

            @media (max-width: 768px) {
                height: 10px;
            }
        }
    }

    .wave-bottom {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 2;

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 25px;

            path {
                fill: #FFFFFF;
            }

            @media (max-width: 768px) {
                height: 10px;
            }
        }
    }

    .nosotros-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 1;

        @media (max-width: 900px) {
            grid-template-columns: 1fr;
            gap: 2rem;
            text-align: center;
        }
    }

    .text-section {
        .main-title {
            font-size: 2rem;
            color: #222;
            margin-bottom: 1.5rem;
            font-weight: 700;
            line-height: 1.2;

            @media (max-width: 768px) {
                font-size: 2.5rem;
            }
        }

        .description {
            font-size: 1.5rem;
            line-height: 1.6;
            color: #383838;
            margin-bottom: 2rem;
        }

        .sub-title {
            font-size: 2.2rem;
            color: #E07A5F;
            font-weight: 630;
            margin-bottom: .5rem;
        }

        .benefits-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            margin-top: 2rem;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                gap: 1.5rem;
            }

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 1rem;
                color: #383838;

                .icon {
                    display: flex;
                    color: #F26849;
                    align-items: center;
                    justify-content: center;
                    width: 200px;
                    height: 200px;
                    background-color: transparent;
                    overflow: hidden;
                    margin-bottom: -3rem;
                    margin-top: -4rem;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        filter: drop-shadow(0 160px 0 #F26849);
                        transform: translateY(-160px);
                    }
                }

                .text {
                    font-size: 1.6rem;
                    line-height: 1.4;
                }
            }
        }
    }

    .image-section {
        .image-wrapper {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .feature-image {
                width: 100%;
                height: auto;
                max-width: 600px;
                object-fit: cover;
                border-radius: 4px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
            }
        }
    }
}