<footer class="footer">
    <div class="footer-content">
        <div class="footer-center">
            <img src="/assets/vitalboxlogo.png" alt="Vital Box" class="footer-logo-img">
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank" class="icon" aria-label="Facebook">
                    <img src="/assets/fb_icon.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com" target="_blank" class="icon" aria-label="Instagram">
                    <img src="/assets/instagramm.png" alt="Instagram">
                </a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; {{ currentYear }} Vital Box. Todos los derechos reservados.</p>
    </div>
</footer>